<div appStickyArea>
  <div style="height: 600px; background: white">
    Lore ipsum ....
  </div>
  <div style="background: white" appSticky>Sticky 1</div>
  <!--<app-sticky>Sticky 1</app-sticky>-->
  <div style="height: 600px; background: red">
    Lore ipsum ....
  </div>
  <div style="background: white" appSticky>Sticky 2</div>
  <!--<app-sticky>Sticky 2</app-sticky>-->
  <div style="height: 600px; background: blue">
    Lore ipsum ....
  </div>
  <div style="height: 600px; background: coral">
    Lore ipsum ....
  </div>
</div>
