<div appHeader></div>

<app-sidebar></app-sidebar>

<app-main-area>
  <a href="/screen-1">Screen 1</a>
  <p></p>
  <a href="/screen-2">Screen 2</a>
  <router-outlet></router-outlet>
</app-main-area>

<div class="right">
  Right
</div>
