$md-red-500:  #F44336;
$head-height: 300px;

.head {
  box-sizing: border-box;
  border: 5px solid black;
  position: fixed;
  top: 0;
  height: $head-height;
  width: 100%;
  background-color: $md-red-500;
  z-index: 1;
}

.right {
  background: #009688;
  position: fixed;
  top: 0;
  height: 100%;
  margin-left: 80vw;
  width: 20vw;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}
