<div #sidebar>
  <ul>
    <li>menu 1</li>
    <li>menu 2</li>
    <li>menu 3</li>
    <li>menu 4</li>
    <li>menu 5</li>
    <li>menu 6</li>
    <li>menu 7</li>
    <li>menu 8</li>
    <li>menu 9</li>
    <li>menu 10</li>
    <li>menu 11</li>
    <li>menu 12</li>
    <li>menu 13</li>
    <li>menu 14</li>
    <li>menu 15</li>
    <li>menu 16</li>
    <li>menu 17</li>
    <li>menu 18</li>
    <li>menu 19</li>
    <li>menu 20</li>
    <li>menu 21</li>
    <li>menu 22</li>
    <li>menu 23</li>
    <li>menu 24</li>
    <li>menu 25</li>
    <li>menu 26</li>
    <li>menu 27</li>
    <li>menu 28</li>
    <li>menu 29</li>
    <li>menu 30</li>
    <li>menu 31</li>
    <li>menu 32</li>
    <li>menu 33</li>
    <li>menu 34</li>
    <li>menu 35</li>
    <li>menu 36</li>
    <li>menu 37</li>
    <li>menu 38</li>
    <li>menu 39</li>
    <li>menu 40</li>
    <li>menu 41</li>
    <li>menu 42</li>
    <li>menu 43</li>
    <li>menu 44</li>
    <li>menu 45</li>
    <li>menu 46</li>
    <li>menu 47</li>
    <li>menu 48</li>
    <li>menu 49</li>
    <li>menu 50</li>
  </ul>
</div>
